/********** STYLE RESET **********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/********** VARIABLES AND MIXINS ***********/
/* MIXINS */
/********* COMMON STYLES *********/
a, p, h1, h2, h3, h4, h5, h6, blockquote {
  font-size: 4mm; }

html {
  font-size: 4mm; }

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  color: #004455;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 2em; }

h2, h3 {
  color: #a9a9a9; }

h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a; }

h1 {
  font-size: 8mm;
  color: #f3B900; }

h2 {
  font-size: 7mm; }

h3 {
  font-size: 6mm; }

h4 {
  font-size: 5mm; }

h5 {
  font-size: 4.5mm; }

h6 {
  font-size: 4mm; }

p {
  text-align: left;
  line-height: 1; }

blockquote {
  color: #a9a9a9;
  margin: 4mm 12mm;
  padding: 2mm 2mm 2mm 4mm;
  border-left: 1mm solid #a9a9a9;
  font-style: italic;
  -webkit-border-radius: 0 4mm 4mm 0;
          border-radius: 0 4mm 4mm 0; }

a {
  text-indent: 0;
  color: #a9a9a9;
  text-decoration: none; }
  a:hover {
    color: #f3B900; }

/************ MAIN STYLES *************/
#wrapper {
  width: 80%;
  margin: 0 auto; }

#statutory {
  width: 120mm;
  height: 110mm;
  background: whitesmoke;
  -webkit-box-shadow: 0 5mm 10mm rgba(0, 0, 0, 0.15);
          box-shadow: 0 5mm 10mm rgba(0, 0, 0, 0.15);
  outline: 1px solid #a9a9a9;
  margin: 0 auto; }

#maininfo {
  margin: 2mm;
  width: 116mm;
  height: 93mm;
  position: relative; }

.umegaagrologo {
  margin: 4mm 1mm 3mm 0; }

.left, .right {
  width: 54mm;
  height: 91mm;
  display: inline-block;
  margin: 2mm;
  overflow: hidden; }

.left::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 57.5mm;
  top: 2mm;
  width: 1mm;
  height: 91mm;
  background-color: #004455;
  z-index: 99; }

footer {
  height: 13mm;
  width: 116mm;
  margin: 2mm;
  background-color: #004455;
  color: #a9a9a9; }

span {
  display: inline-block;
  margin: .5mm 0; }

.field {
  color: #f3B900;
  background-color: #004455;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  height: 6mm;
  line-height: 6mm; }

#address {
  margin: 2mm 0 3mm 0; }

.umeganame {
  font-weight: 700;
  font-size: 5.5mm;
  text-transform: uppercase;
  width: 54mm;
  text-align: center; }

#vin, #homologation {
  width: 54mm; }

.leftins, .rightins {
  width: 26mm;
  height: 43mm;
  display: inline-block; }

.leftins {
  margin-right: 1.5mm; }

#country::before {
  content: '('; }

#country::after {
  content: ')'; }

.country {
  width: 26mm; }

#rFullWeight, #fFullWeight {
  width: 26mm; }
  #rFullWeight.kg, #fFullWeight.kg {
    width: 20mm;
    position: relative; }
    #rFullWeight.kg::after, #fFullWeight.kg::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: #004455; }

.prepoint {
  display: inline-block;
  width: 4mm;
  font-weight: 700; }

.point {
  width: 22mm; }
  .point.kg {
    width: 16mm;
    position: relative; }
    .point.kg::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: #004455; }

.left .field {
  width: 22mm; }
  .left .field.kg {
    width: 16mm;
    position: relative; }
    .left .field.kg::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: #004455; }

.left .label {
  width: 30mm;
  margin-right: 2mm;
  text-align: right; }

.secondTrailer span {
  height: 5mm;
  line-height: 5mm;
  margin: 0 0 .5mm 0; }

.secondTrailer .heading {
  width: 15mm;
  text-align: center; }

.secondTrailer .narrow {
  width: 9mm; }

.secondTrailer .field {
  width: 14mm;
  margin-left: 1mm; }

.iso, .ec {
  font-size: 8mm;
  width: 50%;
  text-align: center;
  line-height: 12mm;
  color: whitesmoke;
  font-weight: 700; }
