/********** STYLE RESET **********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/********** VARIABLES AND MIXINS ***********/
/* MIXINS */
/********* COMMON STYLES *********/
a, p, h1, h2, h3, h4, h5, h6, blockquote {
  font-size: 4mm; }

html {
  font-size: 4mm; }

body {
  background: #fafafa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: "Roboto", sans-serif;
  color: #004455;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 2em; }

h2, h3 {
  color: #a9a9a9; }

h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a; }

h1 {
  font-size: 8mm;
  color: #f3B900; }

h2 {
  font-size: 7mm; }

h3 {
  font-size: 6mm; }

h4 {
  font-size: 5mm; }

h5 {
  font-size: 4.5mm; }

h6 {
  font-size: 4mm; }

p {
  text-align: left;
  line-height: 1; }

blockquote {
  color: #a9a9a9;
  margin: 4mm 12mm;
  padding: 2mm 2mm 2mm 4mm;
  border-left: 1mm solid #a9a9a9;
  font-style: italic;
  -webkit-border-radius: 0 4mm 4mm 0;
          border-radius: 0 4mm 4mm 0; }

a {
  text-indent: 0;
  color: #a9a9a9;
  text-decoration: none; }
  a:hover {
    color: #f3B900; }

section {
  display: inline-block;
  margin: 0;
  padding: 0; }

/************ MAIN STYLES *************/
#wrapper {
  width: 100%;
  height: 100%; }

#output {
  overflow: hidden; }

#plate {
  margin: 15mm auto;
  display: block;
  position: relative;
  outline-width: 1px;
  outline-style: solid;
  -webkit-box-shadow: 0 3mm 10mm rgba(0, 0, 0, 0.3);
          box-shadow: 0 3mm 10mm rgba(0, 0, 0, 0.3); }
  #plate * {
    position: absolute; }
  #plate .rivet {
    width: 2mm;
    height: 2mm;
    background-color: #4b4b4b;
    -webkit-border-radius: 6mm;
            border-radius: 6mm;
    border-color: whitesmoke;
    border-width: 2mm;
    border-style: solid;
    -webkit-box-shadow: 0.2mm 0.3mm 0.5mm rgba(0, 0, 0, 0.5);
            box-shadow: 0.2mm 0.3mm 0.5mm rgba(0, 0, 0, 0.5); }
  #plate .lt {
    top: 1mm;
    left: 1mm; }
  #plate .rt {
    top: 1mm;
    right: 1mm; }
  #plate .rb {
    bottom: 1mm;
    right: 1mm; }
  #plate .lb {
    bottom: 1mm;
    left: 1mm; }
  #plate .underlay {
    width: -webkit-calc(100% - 4mm);
    width: calc(100% - 4mm);
    bottom: 2mm;
    right: 2mm; }
  #plate .logoAgro {
    width: 52mm;
    height: 12mm; }
  #plate .address {
    line-height: 1.2; }
  #plate .divider {
    width: 1mm;
    height: 88mm;
    background-color: #004455;
    top: 5mm;
    right: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  #plate #category::before {
    content: 'Category: '; }
  #plate #type::before {
    content: 'Type:'; }
  #plate #variant::before {
    content: 'Variant:'; }
  #plate #version::before {
    content: 'Version:'; }
  #plate #year::before {
    content: 'Manufactured:'; }
  #plate #weight::before {
    content: 'Weight:'; }
  #plate #roadLoad::before {
    content: 'Payload:'; }
  #plate #maxLoad::before {
    content: 'Tech. payload:'; }
  #plate .field {
    font-size: 4mm;
    line-height: 6mm;
    height: 6mm;
    font-family: "Ubuntu Mono", monospace; }
    #plate .field::before, #plate .field ::after {
      font-family: "Roboto", sans-serif; }

.undefined {
  width: 100mm;
  height: 110mm;
  background: #a9a9a9;
  outline-color: #4b4b4b;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }
  .undefined .logoAgro {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .undefined .underlay, .undefined .address, .undefined .divider {
    display: none; }

.uniform {
  width: 120mm;
  height: 110mm;
  background: #fafafa;
  outline-color: #a9a9a9; }
  .uniform .underlay {
    background-color: #004455;
    height: 13mm; }
  .uniform .logoAgro {
    top: 7mm;
    left: 25%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .uniform .address {
    top: 20mm;
    left: 5mm; }
  .uniform .field {
    width: 20mm;
    left: 33mm;
    padding: 0 0 0 1mm;
    background-color: #004455;
    color: yellow; }
    .uniform .field::before {
      color: #004455;
      padding: 0 2mm;
      width: 30mm;
      text-align: right;
      display: inline-block;
      position: absolute;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
  .uniform .kg {
    width: 15mm; }
    .uniform .kg::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 17mm;
      font-size: 4mm;
      line-height: 6mm;
      color: #004455; }
  .uniform .full {
    width: 51mm; }
    .uniform .full::before {
      display: none; }
  .uniform .half {
    width: 25mm; }
  .uniform .half.kg {
    width: 19mm; }
    .uniform .half.kg::after {
      left: 21mm; }
  .uniform .half.before.kg {
    width: 15mm; }
    .uniform .half.before.kg::before {
      left: 5mm; }
    .uniform .half.before.kg::after {
      left: 17mm; }
  .uniform #category {
    top: 39mm; }
  .uniform #type {
    top: 46mm; }
  .uniform #variant {
    top: 53mm; }
  .uniform #version {
    top: 60mm; }
  .uniform #year {
    top: 67mm; }
  .uniform #weight {
    top: 74mm; }
  .uniform #roadLoad {
    top: 81mm; }
  .uniform #maxLoad {
    top: 88mm; }
  .uniform #certificate {
    top: 11mm;
    left: 75%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .uniform #pin {
    top: 18mm;
    left: 75%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .uniform #country {
    width: 25mm;
    top: 25mm;
    left: 75%;
    -webkit-transform: translateX(-26mm);
        -ms-transform: translateX(-26mm);
            transform: translateX(-26mm);
    text-align: center; }
    .uniform #country::before, .uniform #country ::after {
      content: '(';
      display: inline;
      color: yellow;
      font-family: "Ubuntu Mono", monospace;
      padding: 0; }
    .uniform #country::after {
      content: ')'; }
  .uniform #placeholder {
    width: 25mm;
    top: 25mm;
    left: 75%;
    padding: 0;
    -webkit-transform: translateX(1mm);
        -ms-transform: translateX(1mm);
            transform: translateX(1mm); }
  .uniform #road {
    top: 32mm;
    left: 75%;
    -webkit-transform: translateX(-26mm);
        -ms-transform: translateX(-26mm);
            transform: translateX(-26mm); }
  .uniform #full {
    top: 32mm;
    left: 75%;
    -webkit-transform: translateX(1mm);
        -ms-transform: translateX(1mm);
            transform: translateX(1mm); }
  .uniform #drawbar, .uniform #roadDrawbar, .uniform #axle1, .uniform #roadAxle1, .uniform #axle2, .uniform #roadAxle2, .uniform #axle3, .uniform #roadAxle3 {
    top: 39mm;
    left: 75%;
    -webkit-transform: translateX(-22mm);
        -ms-transform: translateX(-22mm);
            transform: translateX(-22mm); }
    .uniform #drawbar::before, .uniform #roadDrawbar::before, .uniform #axle1::before, .uniform #roadAxle1::before, .uniform #axle2::before, .uniform #roadAxle2::before, .uniform #axle3::before, .uniform #roadAxle3::before {
      content: '0:';
      left: 1mm;
      font-weight: 700; }
  .uniform #axle1, .uniform #roadAxle1 {
    top: 46mm; }
    .uniform #axle1::before, .uniform #roadAxle1::before {
      content: '1:'; }
  .uniform #axle2, .uniform #roadAxle2 {
    top: 53mm; }
    .uniform #axle2::before, .uniform #roadAxle2::before {
      content: '2:'; }
  .uniform #axle3, .uniform #roadAxle3 {
    top: 60mm; }
    .uniform #axle3::before, .uniform #roadAxle3::before {
      content: '3:'; }
  .uniform #roadDrawbar {
    -webkit-transform: translateX(5mm);
        -ms-transform: translateX(5mm);
            transform: translateX(5mm); }
  .uniform #roadAxle1 {
    -webkit-transform: translateX(5mm);
        -ms-transform: translateX(5mm);
            transform: translateX(5mm); }
  .uniform #roadAxle2 {
    -webkit-transform: translateX(5mm);
        -ms-transform: translateX(5mm);
            transform: translateX(5mm); }
  .uniform #roadAxle3 {
    -webkit-transform: translateX(5mm);
        -ms-transform: translateX(5mm);
            transform: translateX(5mm); }
