doctype html
html(lang="en")
	include _header
	body
		#wrapper
			h2 Write something...
			section#input
				//- #sertificate
				//- select#trailer(name="trailer")
				//- select#country(name="country")
				//- select#wheels(name="wheels")

			section#output
				#statutory
					#maininfo
						.left
							.umegaagrologo
								include _umegaagrologo
							p#address Metalo str. 5, Utena,#[br] LT-28216, Lithuania #[br] www.umegaagro.com
							span#categoryl.label Category:
							span#categoryf.field R3a
							span#typel.label Type:
							span#typef.field SPC20
							span#variantl.label Variant:
							span#variantf.field L
							span#versionl.label Version:
							span#versionf.field -
							span#productionl.label Manufactured:
							span#productionf.field 2019
							span#weightl.label Weight:
							span#weightf.field.kg 7750
							span#payloadl.label Payload:
							span#payloadf.field.kg 14250
							span#techPayloadl.label Tech. payload:
							span#techPayloadf.field.kg 19500
						.right
							span.umeganame UmegaGroup, AB
							span#homologation.field e32*167/2013*00021*00
							span#vin.field UMESPC20CJ0004578
							.columns
								.leftins
									span#country.field.country UA
									span#rFullWeight.field.kg 22000
									span#rprepoint0 0:
									span#rpoint0.field.kg 4000
									span#rprepoint1 1:
									span#rpoint1.field.kg 9000
									span#rprepoint2 2:
									span#rpoint2.field.kg 9000
									span#rprepoint3 3:
									span#rpoint3.field.kg -
								.rightins
									span.country.field
									span#fFullWeight.field.kg 27250
									span#fprepoint0 0:
									span#fpoint0.field.kg 4000
									span#fprepoint1 1:
									span#fpoint1.field.kg 11625
									span#fprepoint2 2:
									span#fpoint2.field.kg 11625
									span#fprepoint3 3:
									span#fpoint3.field.kg -
							.secondTrailer
								#secondTrailer
					footer
						span ISO 9001
						span EC
				button#downloadpdf