/************ MAIN STYLES *************/
#wrapper {
  width: 100%;
  margin: 0 auto;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 180mm) {
		flex-direction: row;
		justify-content: space-around;
	}
}
#input {
	background-color: rgba(0,0,0,.5);
	margin: 0 auto;
	width: 120mm;
	height: 80mm;
	flex-grow: 0;
	flex-shrink: 1;
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
	@media screen and (min-width: 180mm) {
		width: 60mm;
		flex-basis: 60mm;
		height: 110mm;
		margin: 2mm auto;
		border-top-right-radius: 3mm;
		border-bottom-left-radius: 0;
	}
}
#output {
	width: 120mm;
	height: 110mm;
	flex-grow: 0;
	flex-shrink: 1;
	margin: 0 auto;
	@media screen and (min-width: 180mm) {
		
		margin: 2mm auto;
	}
}
.tarpas {
	height: 2mm;
	flex-grow: 1;
	flex-shrink: 1;
	@media screen and (min-width: 180mm) {
		height: 110mm;
	}
}



#statutory {
  width: 120mm;
  height: 110mm;
  background: whitesmoke;
  box-shadow: 0 5mm 10mm rgba(0,0,0,.15);
  outline: 1px solid $color-light;
  //margin: 0 auto;
}
#maininfo {
  margin: 0 2mm;
  width: 116mm;
  height: 93mm;
  position: relative;
}
.umegaagrologo {
  margin: 4mm 1mm 3mm 0;
}
.left, .right {
  width: 54mm;
  height: 91mm;
  display: inline-block;
  margin: 2mm;
  overflow: hidden;
}
.left::after {
  content:'';
  display: inline-block;
  position: absolute;
  left: 57.5mm;
  top: 2mm;
  width: 1mm;
  height: 91mm;
  background-color: $color-main;
  z-index: 99;
}




footer {
  height: 13mm;
  width: 116mm;
  margin: 2mm;
  background-color: $color-main;
  color: $color-light;
}
span {
  display: inline-block;
  margin: .5mm 0;
}
.field {
  color: $color-contrast;
  background-color: $color-main;
  font-family: $font-monospace;
  text-align: center;
  height: 6mm;
  line-height: 6mm;
}
#address {
  margin: 2mm 0 3mm 0;
}

.umeganame {
  font-weight: 700;
  font-size: 5.5mm;
  text-transform: uppercase;
  width: 54mm;
  text-align: center;
}

#vin, #homologation {
  width: 54mm;
}
.leftins, .rightins {
  width: 26mm;
  height: 43mm;
  display: inline-block;
}
.leftins {
  margin-right: 1.5mm;
}

#country {
  &::before {content:'('}
  &::after {content:')'}
}
.country {
  width: 26mm;
}
#rFullWeight, #fFullWeight {
  width: 26mm; 
  &.kg {
    width: 20mm;
    position: relative;
    &::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: $color-main;
    }
  }
}
.prepoint {
  display: inline-block;
  width: 4mm;
  font-weight: 700;
}
.point {
  width: 22mm;
  &.kg {
    width: 16mm;
    position: relative;
    &::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: $color-main;
    }
  }
}
.left .field {
  width: 22mm;
  &.kg {
    width: 16mm;
    position: relative;
    &::after {
      display: inline-block;
      content: 'kg';
      width: 6mm;
      position: absolute;
      right: -6mm;
      color: $color-main;
    }
  }
}
.left .label {
  width: 30mm;
  margin-right: 2mm;
  text-align: right;
}

.secondTrailer {
  & span {
    height: 5mm;
    line-height: 5mm;
    margin: 0 0 .5mm 0;
  }
  & .heading {
    width: 15mm;
    text-align: center;
  }
  & .narrow {
    width: 9mm;
  }
  & .field {
    width: 14mm;
    margin-left: 1mm;
  }
}
.iso, .ec {
  font-size: 8mm;
  width: 50%;
  text-align: center;
  line-height: 12mm;
  color: whitesmoke;
  font-weight: 700;
}

#input label {
  display: inline-block;
  margin: 2mm;
  color: whitesmoke;
}
#input select {
  margin: 2mm;
  display: inline-block;
  line-height: 1.5;
  padding: 1mm;
}

.button {
  display: inline-block;
  vertical-align: top;
  margin: $basic / 4;
  background-color: rgba(233,234,236,.3);
  color: $color-main;
  padding: 0 $basic;
  border-radius: $basic / 4;
  border: 1px solid $color-bgdark;
  line-height: $basic * 2;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  transition: background-color .2s;
  &:hover {
    background-color: lighten($color-bgdark, 10%);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
  }
  &:active {
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    background-color: darken($color-bgdark, 10%);
  }
}
.btn-primary {
  background-color: rgb(31,57,72);
  color: $color-bg;
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: whitesmoke;
  &:hover {
    background-color: $color-light;
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(255,255,255,.4);
  }
  &:active {
    background-color: darken($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(255,255,255,.4);
  }
}
.btn-danger {
  background-color: rgba(153,0,0,.3);
  color: $color-contrast;
  border-color: $color-contrast;
  box-shadow: 0 4px 4px rgba(153,0,0,.2);
  &:hover {
    background-color: lighten($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(153,0,0,.4);
  }
  &:active {
    background-color: darken($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(153,0,0,.4);
  }
}
.btn-info {
  background-color: rgba(18,126,155,.3);
  color: $color-light;
  border-color: $color-light;
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  cursor: help;
  &:hover {
    background-color: lighten($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18,126,155,.4);
  }
  &:active {
    background-color: darken($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18,126,155,.4);
  }
}
.btn-success {
  background-color: rgba(0,132,15,.3);
  color: rgb(0,132,15);
  border-color: rgb(0,132,15);
  box-shadow: 0 4px 4px rgba(0,132,15,.2);
  &:hover {
    background-color: lighten(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(0,132,15,.4);
  }
  &:active {
    background-color: darken(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(0,132,15,.4);
  }
}
.btn-attention {
  background-color: rgba(220,140,0,.3);
  color: rgb(220,140,0);
  border-color: rgb(220,140,0);
  box-shadow: 0 4px 4px rgba(220,140,0,.2);
  &:hover {
    background-color: lighten(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(220,140,0,.4);
  }
  &:active {
    background-color: darken(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(220,140,0,.4);
  }
}
.btn-disabled {
  background-color: rgba(233,234,236,.5);
  color: $color-bgdark;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed;
  &:hover, &:active {
    background-color: rgba(233,234,236,.5);
    color: $color-bgdark;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    cursor: not-allowed;
  }
}