/************ MAIN STYLES *************/
#wrapper {
  width: 100%;
  height: 100%;
}
#input {
	
}
#output {
	overflow: hidden;
}
#plate {
  margin: 15mm auto;
  display: block;
  position: relative;
  outline-width: 1px;
  outline-style: solid;
  box-shadow: 0 3mm 10mm rgba(0,0,0,.3);
  & * {
    position: absolute;
  }
  & .rivet {
    width: 2mm;
    height: 2mm;
    background-color: $color-bgdark;
    border-radius: 6mm;
    border-color: whitesmoke;
    border-width: 2mm;
    border-style: solid;
    box-shadow: .2mm .3mm .5mm rgba(0,0,0,.5);
  }
  & .lt {
    top:  1mm;
    left: 1mm;
  }
  & .rt {
    top:   1mm;
    right: 1mm;
  }
  & .rb {
    bottom: 1mm;
    right:  1mm;
  }
  & .lb {
    bottom: 1mm;
    left:   1mm;
  }
  & .underlay {
    width: calc(100% - 4mm);
    bottom: 2mm;
    right: 2mm;
  }
  & .logoAgro {
    width: 52mm;
    height: 12mm;
  }
  & .address {
    line-height: 1.2;
  }
  & .divider {
    width: 1mm;
    height: 88mm;
    background-color: $color-main;
    top: 5mm;
    right: 50%;
    transform: translateX(-50%);
  }
  & #category {
    &::before {
      content: 'Category: ';
    }
  }
  & #type {
    &::before {
      content: 'Type:';
    }
  }
  & #variant {
    &::before {
      content: 'Variant:';
    }
  }
  & #version {
    &::before {
      content: 'Version:';
    }
  }
  & #year {
    &::before {
      content: 'Manufactured:';
    }
  }
  & #weight {
    &::before {
      content: 'Weight:';
    }
  }
  & #roadLoad {
    &::before {
      content: 'Payload:';
    }
  }
  & #maxLoad {
    &::before {
      content: 'Tech. payload:';
    }
  }
  & .field {
    font-size: 4mm;
    line-height: 6mm;
    height: 6mm;
    font-family: $font-monospace;
    &::before, ::after {
      font-family: $font-regular;
    }
  }
}

// Different types of plates
// according to country/certification

// UNDEFINED
.undefined {
  width: 100mm;
  height: 110mm;
  background: $color-light;
  outline-color: $color-bgdark;
  transition: width .3s;
  & .logoAgro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .underlay, .address, .divider {
    display: none;
  }
}

// UNIFORM
.uniform {
  width: 120mm;
  height: 110mm;
  background: $color-bg;
  outline-color: $color-light;
  & .eac, #drawbarLoad, #axleLoad, .logoUmega {
    display: none;
  }
  & .underlay {
    background-color: $color-main;
    height: 13mm;
  }
  & .logoAgro {
    top: 7mm;
    left: 25%;
    transform: translateX(-50%);
  }
  & .logoGroup {
    // temp instead svg
    text-transform: uppercase;
    font-size: 5mm;
    font-weight: 700;
    width: 55mm;
    left: 67mm;
    top: 3mm;
  }
  & .address {
    top: 20mm;
    left: 5mm;
  }
  & .field {
    width: 20mm;
    left: 33mm;
    padding: 0 0 0 1mm;
    background-color: $color-main;
    color: yellow;
    &::before {
      color: $color-main;
      padding: 0 2mm;
      width: 30mm;
      text-align: right;
      display: inline-block;
      position: absolute;
      transform: translateX(-100%);
    }
  }
  & .kg {
    width: 15mm;
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 17mm;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & .full {
    width: 51mm;
    &::before {
      display: none;
    }
  }
  & .half {
    width: 25mm;
  }
  & .half.kg {
    width: 19mm;
    &::after {
      left: 21mm;
    }
  }
  & .half.before.kg {
    width: 15mm;
    //transform: translateX(5mm);
    &::before {
      left: 5mm;
    }
    &::after {
      left: 17mm;
    }
  }

  & #category {
    top: 39mm;
  }
  & #type {
    top: 46mm;
  }
  & #variant {
    top: 53mm;
  }
  & #version {
    top: 60mm;
  }
  & #year {
    top: 67mm;
  }
  & #weight {
    top: 74mm;
  }
  & #roadLoad {
    top: 81mm;
  }
  & #maxLoad {
    top: 88mm;
  }
  & #certificate {
    top: 11mm;
    left: 75%;
    transform: translateX(-50%);
  }
  & #pin {
    top: 18mm;
    left: 75%;
    transform: translateX(-50%);
  }
  & #country {
    width: 25mm;
    top: 25mm;
    left: 75%;
    transform: translateX(-26mm);
    text-align: center;
    &::before, ::after {
      content:'(';
      display: inline;
      color: yellow;
      font-family: $font-monospace;
      padding: 0;
    }
    &::after {
      content: ')';
    }
  }
  & #placeholder {
    width: 25mm;
    top: 25mm;
    left: 75%;
    padding: 0;
    transform: translateX(1mm);
  }
  & #road {
    top: 32mm;
    left: 75%;
    transform: translateX(-26mm);
  }
  & #full {
    top: 32mm;
    left: 75%;
    transform: translateX(1mm);
  }
  & #drawbar, #roadDrawbar, #axle1, #roadAxle1, #axle2, #roadAxle2, #axle3, #roadAxle3 {
    top: 39mm;
    left: 75%;
    transform: translateX(-22mm);
    &::before {
      content: '0:';
      left: 1mm;
      font-weight: 700;
    }
  }

  & #axle1, #roadAxle1 {
    top: 46mm;
    &::before {
      content: '1:';
    }
  }
  & #axle2, #roadAxle2 {
    top: 53mm;
    &::before {
      content: '2:';
    }
  }
  & #axle3, #roadAxle3 {
    top: 60mm;
    &::before {
      content: '3:';
    }
  }  
  & #roadDrawbar{
    transform: translateX(5mm);
  }
  & #roadAxle1{
    transform: translateX(5mm);
  }
  & #roadAxle2{
    transform: translateX(5mm);
  }
  & #roadAxle3{
    transform: translateX(5mm);
  }
  
  
  .b1 {
    top: 72.5mm;
    height: 5mm;
    background: $color-main;
  }
  .b2 {
    top: 78mm;
    height: 5mm;
    background: $color-main;
  }
  .b3 {
    top: 83.5mm;
    height: 5mm;
    background: $color-main;
  }
  .b4 {
    top: 89mm;
    height: 5mm;
    background: $color-main;
  }

  .t0 {
    text-align: center;
    width: 10mm;
    right: 50mm;
    background: none;
  }
  .t1 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 34mm;
    width: 15mm;
    background: $color-main;
  }
  .t2 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 18mm;
    width: 15mm;
    background: $color-main;
  }
  .t3 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 2mm;
    width: 15mm;
    background: $color-main;
  }
  .b0 {
    color: $color-main;
    font-family: $font-regular;
    top: 67mm;
    background: none;
    height: 5mm;
  }
  .iso {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 9mm;
    line-height: 15mm;
    top: 95mm;
    color: whitesmoke;
    left: 25%;
    transform: translatex(-50%);
  }
  .eu {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 9mm;
    line-height: 15mm;
    top: 95mm;
    color: whitesmoke;
    left: 75%;
    transform: translatex(-50%);
  }
}